{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
   
    <div class="Comments-container">
    <h3>Comments</h3>
        {%if comments != null %}
        {% for comment in comments %}
            
            <div class="row">
                <p><div class="col-md-5"><strong>{{ comment.author }}</strong> said : {{ comment.content }}</div><br>
                {% if comment.children != null %}
                   {% for child in comment.children %}              
                        <div class="col-md-5 col-md-offset-1"><strong>{{child.author }}</strong> said : {{ child.content }}</div><br>                   
                        {% if child.children != null %}
                            {% for child2 in child.children %}                               
                                <div class="col-md-5 col-md-offset-2"><strong>{{child2.author }}</strong> said : {{ child2.content }}</div></p></div>                       
                            {% endfor %}
                        {% endif %}                   
                    {%endfor%}
                {% else %}
                </div>
                {% endif%}
                
        {% endfor %}
        {% else %}
        No comments yet...
        {% endif %}
    </div>
{% endblock %}