
{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    {% if article.state == 'publie' %}
    
    <h3 class="center">{{ article.title }}</h3>
    <div class="container">
        <div class="card-panel">
        {{ article.content|raw }}
        </div>
    </DIV>
    {% endif %}
    <li class="divider"></li>
        <div class="container">
        <h3>Commentaires</h3>
            {%if comments != null %}
                {% for comment in comments %}
                        <div class="col s12">
                            <div class="comment-box">
                                    <div class="comment-head">{{ comment.author}} a dit : <div class="right"><button class="btn btn-default"><a href="{{article.id}}?replyto={{comment.id}}">répondre</a></button></div><br></div>
                                    <div class="comment-content">{{ comment.content }}</div>
                                <a href="{{path('comment_report', {'comment_id': comment.id})}}"><h6>Signaler</h6></a> 
                                {% if parent_id != null and parent_id == comment.id %}
                                    <div class="col s12">
                                        <h4>Répondre a {{comment.author}} :</h4>
                                    {% block replytocomment %}{%include "commentform.html.twig"%}{% endblock %}
                                </div></div></div>     
                                {% endif %}  

                        {% if comment.children != null %}
                           {% for child in comment.children %}              
                           <div class="col s12" style="margin-left: 50px;">
                                <div class="comment-box">
                                    <div class="comment-head">{{ child.author}} a dit : <div class="right"><button class="btn btn-default"><a href="{{article.id}}?replyto={{child.id}}">répondre</a></button></div><br></div>
                                    <div class="comment-content">{{ child.content }}</div>                               
                                <a href="{{path('comment_report', {'comment_id': child.id})}}"><h6>Signaler</h6></a> 
                                {% if parent_id != null and parent_id == child.id %}
                                    <div class="col s12">
                                        <h4>Répondre a {{child.author}} :</h4>
                                    {% block replytochild %}{%include "commentform.html.twig"%}{% endblock %}
                                </div></div></div>
                                {%else%}
                                </div></div>
                                {% endif %}     

                                {% if child.children != null %}
                                        {% for child2 in child.children %}                               
                                        <div class="col s12" style="margin-left: 100px;">
                                                <div class="comment-box">
                                                    <div class="comment-head">{{ child2.author}} a dit : <div class="right"></div><br></div>
                                                    <div class="comment-content">{{ child2.content }}</div>   
                                            <a href="{{path('comment_report', {'comment_id': child2.id})}}"><h6>Signaler</h6></a></div></div> 
                                        {% endfor %}
                                     {% else %}
                                     <br><!-- /.row -->
                                {% endif %}                   
                {%endfor%}
                </div><br> 
            {% else %}
                </div><br><!-- /.row -->
            {% endif%}
        {% endfor %}
            {% else %}
            No comments yet... </div>
            {% endif %}
        {% if parent_id == null %}            
        {% block comment %}{%include "commentform.html.twig"%}{% endblock %}<br>
        {% else %}
        <div class="container" style="padding-bottom: 100px;"><div class="col s12"><button class="waves-effect waves-light btn"><a href="{{article.id}}">Commenter l'article</a></button></div></div>
        {% endif%}
{% endblock %}
{% block script %}{% include 'bootstrap.html.twig' %}{% include 'materialize.html.twig'%} {% endblock %}